.trafalag{
    padding: 10px 10px 10px 10px;
    display: flex;
    justify-content: space-around;
    color: rgb(0, 0, 0);
    transition: 300ms ease all;
    & :hover{
        color: hsla(347, 73%, 53%, 1);
        transition: 300ms ease all;
;

    }

}
ul{
    display: flex;
    justify-content: space-between;
    gap: 150px;
    align-items: center;
}
.head-btn{
    width: 200px;
    height: 50px;
   margin-left: 5px;
    background-color: white;
    border-color: hsla(347, 73%, 53%, 1);
    color: rgb(0, 0, 0);;
    border-radius: 10px;
    transition: 300ms all ease;
    & :hover{
    color: white;
    background-color: hsla(347, 73%, 53%, 1);
    color: white;
    transition: 300ms all ease;
    }

}
.head-a{
    color: rgb(0, 0, 0);;
}
.yordamchi{
    background-image: url("/img/image\ 4.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: start;
    
}
.body-butt{
    width: 180px;
    height: 50px;
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
    gap: 30px;
    border-radius: 10px;
    transition: 300ms all ease;
    & :hover{
        color: white;
        background-color:  hsla(347, 73%, 53%, 1);
        transition: 300ms all ease;
    }
}
.body-a{
    color: white;
}
h1{
    color: white;
    
    margin-top: 20px;

}
.yordamchi-2{
    flex-direction: column;
    justify-content: end;
    align-items: start;
    margin-left: 30px;
    margin-top: 60px;
    gap: 30px;
    color: white;
}
.tabiy{
    color: white;
    display: flex;
    justify-content: start;
    margin-top: 30px;
}
